127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ network_connections[0].ip.address[0].split('/')[0]  }} {{ ansible_fqdn }} {{ ansible_hostname }}