RAILS_ENV={{ argus_environment }}
RAILS_SERVE_STATIC_FILES=true
RAILS_LOG_TO_STDOUT=true
REDIS_URL=unix://{{ argus_redis_socket }}
PATH=/usr/local/bin:/usr/bin:/bin
BUNDLE_FROZEN=true
BUNDLE_DEPLOYMENT=true
SECRET_KEY_BASE={{ argus_secret_key }}