<network>
  <name>{{ item.name }}</name>

  {% if item.nat | default(false) %}
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  {% endif %}

  <bridge name='{{ item.bridge }}' stp='on' delay='0'/>

  {% if item.dns_servers is defined and item.dns_servers | length > 0 %}
  <dns>
    {% for dns in item.dns_servers %}
    <forwarder addr='{{ dns }}'/>
    {% endfor %}
  </dns>
  {% elif item.disable_dns | default(false) %}
  <dns enable='no'/>
  {% endif %}

  <ip address='{{ item.gateway }}' netmask='{{ item.netmask }}'>
    {% if item.dhcp is defined and item.dhcp.enabled | default(false) %}
    <dhcp>
      <range start='{{ item.dhcp.start }}' end='{{ item.dhcp.end }}'/>
    </dhcp>
    {% endif %}
  </ip>
</network>